@keyframes ledAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.led-main {
    width: 100%;
    height: 2px;
    background: linear-gradient(135deg, #ca1717, #a617ca, #ca179d);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;




    background-size: 300% 300%;
    animation: ledAnimation 6s infinite linear;
}
