
.homepage-main{

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #0F172A, #1E293B, #6B21A8, #EA580C);
    min-height: 100vh;
}

.homepage-container{
    display: flex;
    flex-direction: row;
    min-width: 90%;
    min-height: 90vh;

    margin: 32px;


    scroll-behavior: smooth;
    background: linear-gradient(135deg, rgba(15, 15, 15, 1),rgb(59, 59, 59));
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 8px 16px rgba(0, 0, 0, 0.5);

}

.homepage-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.homepage-shortcuts{
    gap: 32px;
    padding: 24px;
    overflow: auto;
    scrollbar-width: none;
}

.shortcut-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
}


.homepage-main hr{

    border: 1px solid #a8722109;
    box-shadow: 0px 2px 16px #2222228a;
}